@page "/suppliers"
<h3>ListSuppliers</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in myList.Suppliers)
        {
            <tr>
                <th scope="row">
                    <a href="/supplierdetail/@item.IdSupplier">@item.IdSupplier</a>
                </th>
                <td>@item.Name</td>
                <td>@item.Contact</td>
                <td>@item.Country</td>
            </tr>

        }
            
    </tbody>
</table>

@code {
    SupplierList myList = SupplierList.Deserializza();

}
